<div class="header">
    <div class="header__body">
        <div class="header__content">
            <div class="header__button animation">
                <a class="header__button-link">
                    <div class="header__button-container">
                    </div>
                </a>
            </div>
            <h1 class="header__title">Репетитор арабского языка онлайн с сертификатом B2+ | Индивидуальные уроки от студента МГИМО</h1>
            <h2 class="header__description">Профессиональные онлайн-уроки арабского языка с гарантией результата. Подготовка к экзаменам, разговорная практика, авторские методики.</h2>
            <div class="header__main-button">
                <a class="header__main-button-link" (click)="scrollToContact()"><span class="header__button-link-text">Связаться с репетитором</span></a>
            </div>
        </div>
        <div class="header__image">
            <div class="header__image-fade"></div>
        </div>
    </div>
</div>
