<section class="section__header">
    <app-header></app-header>
</section>
<section class="section__main">
    <div class="main">
        <img src="assets/images/MyCollages.jpg" class="main__collage" alt="mainPhoto"/>
        <span class="main__text">Здравствуйте! Я студент МГИМО с глубокими знаниями арабского языка. Имеется международный сертификат, потверждающий уровень знаний B2+, полученный еще 2023 году. Готов помочь Вам овладеть арабским языком на высоком уровне или подготовиться к экзаменам!<br><br>Предлагаю индивидуальные онлайн занятия длительностью 1 час с предоплатой.<br><br>Напишите мне, чтобы выбрать подходящее время, и я с радостью проведу пробное занятие. Если есть вопросы - задавайте, пожалуйста)
        </span>
    </div>
</section>
<section class="section__price">
    <app-price></app-price>
</section>