<section class="section__header">
    <app-header></app-header>
</section>
<section class="section__main">
    <h2 class="main__title">Исмаил Хаджиев</h2>
    <div class="main">
        <div class="main__container">
            <div>
                <img src="assets/images/1.jpg" class="main__collage" alt="Индивидуальный урок арабского языка с репетитором из МГИМО"/>
            </div>
            <div class="main__desc">
                <pre class="main__text-desc tab">Здравствуйте! Я выпускник МГИМО, имеющий глубокие и всесторонние знания арабского языка. Мой опыт включает в себя успешное изучение языка и культуры, а также практику общения с носителями языка. Я получил международный сертификат, подтверждающий уровень знаний B2+, который был выдан в 2023 году.
                </pre>
                <pre class="main__text-desc">Я готов помочь Вам овладеть арабским языком на высоком уровне, развить разговорные навыки, грамматику и лексику, а также подготовиться к экзаменам и тестам.
                </pre>
            </div>
        </div>
        <pre class="main__text-desc tab">Предлагаю индивидуальные онлайн занятия длительностью 1 час с предоплатой. Занятия проводятся по гибкому графику, адаптированному к Вашим потребностям.
        </pre>
        <div class="main__container">
            <div class="main__desc">
                <pre class="main__text-desc tab">Напишите мне, чтобы выбрать подходящее время, и я с радостью проведу пробное занятие. Если у Вас есть вопросы о методах обучения, материалах или ценах, не стесняйтесь спрашивать, я всегда готов ответить на них!
                </pre>
                <pre class="main__text-desc">Давайте вместе сделаем шаг к уверенному владению арабским языком!
                </pre>
            </div>
            <div class="revert">
                <img src="assets/images/2.jpg" class="main__collage" alt="Индивидуальный урок арабского языка онлайн с репетитором из МГИМО"/>
            </div>
        </div>
    </div>
</section>
<section class="section__img">
    <h2 class="main__title">Сертификат</h2>
    <div class="main__image" (click)="open()"></div>
</section>
<section class="section__price">
    <app-price></app-price>
</section>
<section class="section__review">
    <app-review></app-review>
</section>
<section class="section__contact">
    <app-contact></app-contact>
</section>
<section class="section__words">
    <app-words></app-words>
</section>
<section class="section__author">
    <div class="main__end author">
        <a href="https://github.com/Sa1ivan" class="main__link" target="_blank">
            <img src="assets/images/icons8-github.svg" class="main__logo">
            <span class="main__text">Salivan-</span>
        </a>
    </div>
</section>